@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --width-50: calc(50% - 12px);
    --width-25: calc(25% - 12px);
}

.round_border {
    border-radius: 50%;
    box-sizing: border-box;
}

.white-text {
    color: #fff !important;
}

body {
    background-color: rgb(31, 41, 55);
}

.width-25 {
    width: calc(25% - 12px);
}

.width-50 {
    width: calc(50% - 12px);
}